*.DS_Store
.idea/
InCodeLearning-Java.iml
target/
*.iml
.vscode/
# gradle files, gradle wrapper will download gradle in .gradle/ folder and generate gradlew and gradlew.bat
.gradle/
gradle
gradlew
gradlew.bat
build/
